# Foundry deploy
PRIVATE_KEY=YOUR-PRIVATE-KEY-HERE  # Private key for local testing anvil[0] address


PRIVATE_KEY=YOUR-PRIVATE-KEY-HERE
RPC_URL=https://mainnet.infura.io/v3/<Your-API-Key-Here>
CHAIN_ID=1
PROTOCOL_TREASURY=0xcd89321D5a9080e417ac01c8F46F643548ad7C04

# Staking token (Sepolia)
STAKE_TOKEN=0x0000000000000000000000000000000000000000
MIN_STAKE=1000000000000000000000